<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Custom_DeliveryRestriction::config"
                                      title="Delivery Restriction &amp; Zip Checker Config"
                                      sortOrder="10"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::marketing">
                    <resource id="Custom_DeliveryRestriction::manage_zipcodes"
                              title="Delivery Restriction — Manage Zip Codes"
                              sortOrder="60"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
